<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
<title>Under Construction</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cool Under Construction Page Flat Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/jquery.countdown.css" />
<!--js-->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.countdown.js"></script>
<script src="/static/js/script.js"></script>
<!--js-->
</head>
<body>
	<div class="header">
		<h1>This Website Is Under Construction</h1>
	</div>
	<div class="content">
		<div class="content1"> 
			<img src="/static/images/work.png" alt="under-construction">
		</div>
		<div class="content2">
			<div class="timer_wrap">
				<div id="counter"> </div>		
			</div>
		</div>
	</div>
</body>
</html>