<div class="header-section">
                        <!--menu-right-->
    <div class="top_menu">
        <div class="profile_details_left">
            <ul class="nofitications-dropdown">
                <li class="dropdown note">
                    {% include "messageList.html"%}
                </li>
                <li class="dropdown note">
                    {% include "notificationList.html"%}
                </li>   
                <li class="dropdown note">
                    {% include "taskList.html"%}
                </li>                                           
                <div class="clearfix"></div>    
            </ul>
        </div>
        <div class="clearfix"></div>    
                            <!--//profile_details-->
    </div>
                        <!--//menu-right-->
    <div class="clearfix"></div>
</div>