<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope-o"></i> 
{% if messageList %}
    <span class="badge"> {{ messageList|length }} </span>
{% endif %}
</a>
<ul class="dropdown-menu two first">
    {% if messageList%}
    <li>
        <div class="notification_header">
            <h3>You have 5 new messages</h3>
        </div>
    </li>
    {% else %}
    <li>
        <div class="notification_header">
            <h3>暂无新消息</h3>
        </div>
    </li>
    {% endif%}
    {% for item in messageList %}
    <li><a href="#">
        <div class="user_img"><img src="images/1.jpg" alt=""></div>
        <div class="notification_desc">
            <p>Lorem ipsum dolor sit amet</p>
            <p><span>1 hour ago</span></p>
        </div>
        <div class="clearfix"></div> 
    </a></li>
    {% endfor %}
    <li>
        <div class="notification_bottom">
            <a href="#">查看所有消息</a>
        </div> 
    </li>
</ul>