<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell-o"></i> 
{% if notificationList %}
    <span class="badge"> {{ notificationList|length }} </span>
{% endif %}
</a>
<ul class="dropdown-menu two">
    <li>
        <div class="notification_header">
            <h3>You have 5 new notification</h3>
        </div>
    </li>
    <li><a href="#">
        <div class="user_img"><img src="images/in.jpg" alt=""></div>
        <div class="notification_desc">
            <p>Lorem ipsum dolor sit amet</p>
            <p><span>1 hour ago</span></p>
        </div>
        <div class="clearfix"></div>  
    </a></li>
    <li class="odd"><a href="#">
        <div class="user_img"><img src="images/in5.jpg" alt=""></div>
        <div class="notification_desc">
            <p>Lorem ipsum dolor sit amet </p>
            <p><span>1 hour ago</span></p>
        </div>
        <div class="clearfix"></div> 
    </a></li>
    <li><a href="#">
        <div class="user_img"><img src="images/in8.jpg" alt=""></div>
        <div class="notification_desc">
            <p>Lorem ipsum dolor sit amet </p>
            <p><span>1 hour ago</span></p>
        </div>
        <div class="clearfix"></div> 
    </a></li>
    <li>
        <div class="notification_bottom">
            <a href="#">See all notification</a>
        </div> 
    </li>
</ul>