<!DOCTYPE HTML>
<html>
<head>
    <title>北航电气实践教学系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />

    {% block header %}
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="/static/panel/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="/static/panel/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="/static/panel/css/font-awesome.css" rel="stylesheet"> 
    <!-- jQuery -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel = "stylesheet" href = "/static/panel/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <script src = "/static/panel/js/jquery-1.10.2.min.js"></script>
    <script src = "/static/panel/js/amcharts.js"></script>  
    <script src = "/static/panel/js/serial.js"></script>    
    <script src = "/static/panel/js/light.js"></script> 
    <script src = "/static/panel/js/radar.js"></script> 
    <link href = "/static/panel/css/bars.css" rel='stylesheet' type='text/css' />
    <link href="/static/panel/css/fabochart.css" rel='stylesheet' type='text/css' />
    <!--clock init-->
    <script src="/static/panel/js/css3clock.js"></script>
    <!--Easy Pie Chart-->
    <!--skycons-icons-->
    <script src="/static/panel/js/skycons.js"></script>

    <script src="/static/panel/js/jquery.easydropdown.js"></script>
    {% endblock %}
    <!--//skycons-icons-->
</head> 

<body>
    <div class="page-container">
        <div class="left-content">
            <div class="inner-content">
                {% include "header.html" %}
                {% block inner %}
                {% include "inner.html" %}
                {% endblock %}
                {% include "footer.html" %}
            </div>
        </div>

        {% include "sidebar.html" %}

        <div class="clearfix"></div>
    </div>
    

    

<link rel="stylesheet" href="/static/panel/css/vroom.css">
<script type="text/javascript" src = "/static/panel/js/vroom.js"></script>
<script type="text/javascript" src = "/static/panel/js/TweenLite.min.js"></script>
<script type="text/javascript" src = "/static/panel/js/CSSPlugin.min.js"></script>
<script src="/static/panel/js/jquery.nicescroll.js"></script>
<script src="/static/panel/js/scripts.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/panel/js/bootstrap.min.js"></script>
</body>
</html>