<div class="menu">
    <ul id="menu" >
        <li><a href="/"><i class="fa fa-tachometer"></i> <span>主页</span></a></li>
        <li><a href="index.html"><i class="fa fa-table"></i> <span>实验安排</span></a></li>
        <li><a href="index.html"><i class="fa fa-file-text-o"></i> <span>实验数据</span></a></li>
        <li><a href="index.html"><i class="lnr lnr-book"></i> <span>实验报告</span></a></li>
        <li><a href="typography.html"><i class="lnr lnr-pencil"></i> <span>实验总结</span></a></li>
        <li><a href="typography.html"><i class="lnr lnr-chart-bars"></i> <span>实验成绩</span></a></li>
        <li><a href="#"><i class="lnr lnr-envelope"></i> <span>反馈信息</span><span class="fa fa-angle-right" style="float: right"></span></a>
            <ul>
                <li><a href="inbox.html"><i class="fa fa-inbox"></i> 提出反馈信息</a></li>
                <li><a href="compose.html"><i class="fa fa-pencil-square-o"></i> 反馈处理情况</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-smile-o"></i> <span>更多</span><span class="fa fa-angle-right" style="float: right"></span></a>
            <ul>
                <li><a href="project.html"> 关于项目</a> </li>
                <li><a href="project.html">开发者名单 </a> </li>
                <li><a href="project.html">开发者招募 </a> </li>
            </ul>
        </li>
    </ul>
</div>

<script>
    var toggle = true;
    
    $(".sidebar-icon").click(function() {                
        if (toggle)
        {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position":"absolute"});
        }
        else
        {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function() {
                $("#menu span").css({"position":"relative"});
            }, 400);
        }
        
        toggle = !toggle;
    });
    </script>